extends ../../layouts/default

block content
	.container
		.row
			.col-sm-3
				h3.profile-form__heading= current.user.name.full
				p
					| You have asked #{plural(current.user.topicCount, '* question', '* questions')} 
					| and answered #{current.user.replyCount}
					| since joining on #{current.user._.joinedAt.format('D MMMM YYYY')}
				p: strong: a(href=current.user.url) View your profile
			.col-sm-9
				form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).profile-form.form-horizontal
					input(type='hidden', name='action', value='user.update')
					.profile-form__section
						h3.profile-form__heading Your Profile
						+flash-messages(messages)
						.form-group
							label.col-sm-2.control-label Name
							.col-sm-10: .row
								.col-sm-6: input(type='text', name='name.first' value=current.user.name.first).form-control
								.col-sm-6: input(type='text', name='name.last' value=current.user.name.last).form-control
						.form-group
							label.col-sm-2.control-label Email
							.col-sm-10
								input(type='email', name='email' value=current.user.email).form-control.form-control-labelled
						.form-group
							label.col-sm-2.control-label Website
							.col-sm-10
								input(type='text', name='website' value=current.user.website).form-control.form-control-labelled
						.form-group
							label.col-sm-2.control-label Twitter
							.col-sm-10
								.at-username-field: input(type='text', name='twitter' value=current.user.twitter, placeholder='Twitter username').form-control.form-control-labelled
						.form-group
							label.col-sm-2.control-label Github
							.col-sm-10
								.at-username-field: input(type='text', name='github' value=current.user.github, placeholder='Github username').form-control.form-control-labelled
						
					.profile-form__section
						h3.profile-form__heading Public info
						.form-group
							label.col-sm-2.control-label Bio
								br
								a(href='http://daringfireball.net/projects/markdown/syntax', target='_blank', title='Markdown Guide (new window)').text-muted (markdown)
							.col-sm-10
								textarea(name='bio', rows=5).form-control=current.user.bio.md
						
						.form-group
							label.col-sm-2.control-label Photo
							.col-sm-10
								if current.user.photo.exists
									.row
										.col-sm-3: img(src=current.user._.photo.fill(120,120)).img-avatar
										.col-sm-9: input(type='file', name='photo_upload')
								else
									input(type='file', name='photo_upload')
						
					.profile-form__section
						h3.profile-form__heading Change password
						.form-group
							label.col-sm-2.control-label Security
							.col-sm-10
								.form-group
									label(for='change-password').sr-only Current Password
									input(type='password', name='currentPassword', placeholder='Current Password', id='change-password').form-control
								.form-group
									label(for='change-passwordNew').sr-only New Password
									input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
								.form-group
									label(for='change-passwordConfirm').sr-only Confirm Password
									input(type='password', name='password_confirm', placeholder='Confirm Password', id='signin-passwordConfirm').form-control
						
					.profile-form__section
						h3.profile-form__heading Email notifications
						.form-group
							label.col-sm-2.control-label Email me when
							.col-sm-10
								label.checkbox
									input(type='checkbox' name='notifications.topics', value='true', checked=current.user.notifications.topics ? 'checked' : null)
									|  Someone asks a question
								.help-block You will receive an email for each new topic created on the forum
								label.checkbox
									input(type='checkbox' name='notifications.replies', value='true', checked='checked', disabled)
									|  Someone answers a question I've asked
								.help-block By default you are watching topics you create. You can unwatch them at any time.


					.form-group
						.col-sm-10.col-sm-offset-2
							button(type='submit', data-loading-text="Saving...").btn.btn-primary Save profile

