extends ../../layouts/default

block content
	.container-sm
		h1!=errorTitle || 'Not found (404)'
		if 'object' == typeof errorMsg
			div(style='margin: 30px 0;').debug!= htmlStringify(errorMsg)
		else
			p.lead!= utils.textToHTML(errorMsg) || 'The page you requested has been moved or deleted.'
			
		
		//- Categories
		h4.heading-bordered Tags
		ul.tag-list
			li
				a(href='/').tag.tag-list__item
					span.tag-count= totalTopicCount
					span.tag-indicator
					span All topics
			for tag in tags
				li(class=tag.key)
					a(href='/newest/' + tag.key).tag.tag-list__item
						span.tag-count= tag.topicCount
						span(class=tag.key).tag-indicator
						span= tag.name

