mixin comment-form(action)
	form(method='post').comment-form.media
		input(type='hidden', name='action', value='comment.create')
		
		.comment-author.media-avatar.pull-left
			if current.user
				img(src=current.user.photo.exists ? current.user._.photo.fill(60,60) : '/images/avatar.png', alt=current.user.name.full, width=60, height=60).img-avatar
			else
				img(src='/images/avatar.png', alt='Comment author placeholder', width=60, height=60).img-avatar
		.comment-box.media-body
			.comment-field
				.form-group: textarea(name='content', tabindex=1, rows=5, placeholder=current.user ? 'Leave a reply...' : 'Please sign in to comment', disabled=!current.user).comment-field-input.form-control
			if current.user
				.form-inline.mv-5
					p.help-block.pull-right.faux-label Replies use 
						a(href='http://daringfireball.net/projects/markdown/syntax', tabindex=3, target='_blank', title='Markdown Guide (new window)') Markdown
					button(type='submit', tabindex=2).btn.btn-primary.mr-1 Post Reply
					if !watchedByUser
						.checkbox: label.text-thin.text-dimmed
							input(type='checkbox', name='watch', value='true', checked)
							| &nbsp;Watch this topic
			else
				a(href='/join?journeyOrigin=' + page.path).btn.btn-sm.btn-primary Log in or Join to Comment

mixin comment-post(comment)
	div(id='comment-id-' + comment.id, class=attributes.class).comment-post
		if current.user && current.user.id == comment.author.id
			.item-delete.comment-options
				button(type='button').btn.btn-sm.btn-narrow.btn-link.item-delete__confirm.text-confirm Delete
				.item-delete__hidden
					//- | Remove your reply from this topic?
					a(href='?remove=comment&comment=' + comment.id).btn.btn-sm.btn-narrow.btn-danger Delete
					button(type='button').btn.btn-sm.btn-narrow.btn-default.item-delete__cancel Cancel
					
		.media
			a(href=comment.author.url).pull-left.media-avatar
				if comment.author.isCoreContributor
					span(title='Core Contributor').avatar-type.avatar-type--core
				img(src=comment.author.photo.exists ? comment.author._.photo.fill(60,60) : '/images/avatar.png', alt=comment.author.name.full, width=60, height=60).img-avatar
			.media-body
				p.comment-post__header
					a(href=comment.author.url).comment-post__author=comment.author.name.full
					if comment.createdAt
						|  &middot; 
						time(datetime=comment._.createdAt.format('YYYY-MM-DDTHH:mm:ssZ'), title=comment.createdAt).js-timeago.text-muted= comment._.createdAt.format('D MMM YYYY')
				p!=comment.content.html

mixin comment-thread(comments)
	if comments.length
		.comment-thread
			for comment in comments
				if comment.state == 'archived'
					.comment-post: .deleted-comment-message Deleted
				else
					+comment-post(comment)
