mixin comment-form(action)
	form(method='post').comment-form.media
		input(type='hidden', name='action', value='comment.create')
		
		.comment-author.media-avatar.pull-left
			if current.user
				img(src=current.user.photo.exists ? current.user._.photo.thumbnail(60,60) : '/images/scaffolding/60x60.png', alt=current.user.name.full, width=60, height=60).img-avatar
			else
				img(src='/images/scaffolding/60x60.png', alt='Comment author placeholder', width=60, height=60).img-avatar
		.comment-box.media-body
			.comment-field
				.form-group: textarea(name='content', tabindex=1, rows=5, placeholder=current.user ? 'Leave a reply...' : 'Please sign in to comment', disabled=!current.user).comment-field-input.form-control
			if current.user
				.form-inline.mv-5
					p.help-block.pull-right Replies use 
						a(href='http://daringfireball.net/projects/markdown/syntax', tabindex=3, target='_blank', title='Markdown Guide (new window)') Markdown
					button(type='submit', tabindex=2).btn.btn-sm.btn-primary Post Reply
					//- TODO
					//- This would be nice to have later
					//- .checkbox: label
						input(type='checkbox', name='subscribed', value='true', checked)
						| &nbsp;Subscribe to thread
			else
				a(href='/join?returnto=' + page.path).btn.btn-sm.btn-primary Log in or Join to Comment

mixin comment-post(comment)
	if comment.author
		div(id='comment-id-' + comment.id).comment-post
			if current.user && current.user.id == comment.author.id
				a(href='?remove=comment&comment=' + comment.id, title='Delete this comment', rel='tooltip', data-placement='left').comment-delete.js-delete-confirm Delete
						
			.media
				a(href=comment.author.url).pull-left.media-avatar
					img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/scaffolding/60x60.png', alt=comment.author.name.full, width=60, height=60).img-avatar
				.media-body
					p
						strong: a(href=comment.author.url)=comment.author.name.full
						if comment.publishedAt
							|  &middot; 
							time(datetime=comment.publishedAt, data-datetime=comment.publishedAt).js-timeago.text-muted= comment._.publishedAt.format('D MMM YYYY')
					p!=comment.content.html

mixin comment-thread(comments)
	if comments.length
		.comment-thread
			for comment in comments
				+comment-post(comment)
