mixin pagination(results)
	div(class=attributes.class, id=attributes.id).pagination-container
		p.pagination-count Showing #{results.first}-#{results.last} of #{results.total} results
		if results.totalPages > 1
			ul.pagination
				li(class=results.previous ? '' : 'disabled'): a(href=qs_set({ page: results.previous })): span.entypo.entypo-chevron-thin-left
				each page, i in results.pages
					li(class=results.currentPage == page ? 'active' : null)
						a(href=qs_set({ page: (page == '...' ? (i ? results.totalPages : 1) : page )}))
							span= page
				li(class=results.next ? '' : 'disabled'): a(href=qs_set({ page: results.next })): span.entypo.entypo-chevron-thin-right
