mixin topic-item(topic)
	li
		a(href=topic.url).topic
			.topic__avatar
				img(src=topic.author.photo.exists ? topic.author._.photo.fill(60,60) : 'http://www.placehold.it/60x60').img-avatar
			.topic__count
				.topic__count-number= topic.replyCount
				.topic__count-label Answers
			.topic__content
				h2.topic__title= topic.name
				.topic__info
					| Posted 
					time(datetime=topic.publishedAt)= topic._.publishedAt.format('DD MMM YYYY')
					|  by 
					span.text-dimmed= topic.author.name.full
				if topic.category
					.topic__meta
						span.topic-category
							span(class=topic.category.key).category-indicator
							span= topic.category.name