mixin topic-item(topic)
	li: .topic
		.topic__avatar
			img(src=topic.author.photo.exists ? topic.author.photo.thumbnail(60,60) : 'http://www.placehold.it/60x60').img-avatar
		.topic__count
			.topic__count-number= topic.replyCount
			.topic__count-label Answers
		.topic__content
			h2.topic__title: a(href=topic.url)= topic.name
			.topic__info
				| Posted 
				time(datetime=topic.publishedOn)= moment(topic.publishedOn).format('DD MMM YYYY')
				|  by 
				strong= topic.author.name.full
			if topic.category
				.topic__meta
					span.topic-category
						span(class=topic.category.key).category-indicator
						span= topic.category.name