extends ../../layouts/default

include ../../mixins/topic-item

block content
	.container
		.row
			.col-sm-9
				nav.filter-nav
					ul
						for filter in globals.forum.topic.filters
							li(class=current.filter && filter.value == current.filter.value ? 'is-active' : null)
								a(href='/' + filter.value + (current.category ? ('/' + current.category.key) : ''))= filter.label
				//- h3 Forum
				if topics.total
					ol.topics
						for topic in topics.results
							+topic-item(topic)
				else
					.no-results
						.no-results__message Sorry, we couldn't find any topics matching your criteria.

			.col-sm-3
				.categories-heading Categories
				.categories-list: ul
					li(class=!current.category ? 'is-active' : null)
						a(href=current.filter ? ('/' + current.filter.value) : '/').categories-list__item
							span.category-indicator
							span All topics
					for category in categories
						li(class=current.category && category.key == current.category.key ? 'is-active #{category.key}' : category.key)
							a(href='/' + current.filter.value + '/' + category.key).categories-list__item
								span(class=category.key).category-indicator
								span= category.name
