extends ../../layouts/default

include ../../mixins/pagination
include ../../mixins/topic-item

block content
	.container
		.row
			.col-sm-3.col-sm-push-9
				h4.heading-bordered.hidden-xs Tags
				nav: ul.tag-list.mb-2
					li(class=!current.tag ? 'is-active' : null)
						a(href=current.filter ? ('/' + current.filter.value) : '/').tag.tag-list__item
							span.tag-count= totalTopicCount
							span.tag-indicator
							span All topics
					for tag in tags
						li(class=current.tag && tag.key == current.tag.key ? 'is-active #{tag.key}' : tag.key)
							a(href='/' + current.filter.value + '/' + tag.key).tag.tag-list__item
								span.tag-count= tag.topicCount
								span(class=tag.key).tag-indicator
								span= tag.name

			.col-sm-9.col-sm-pull-3
				.visible-xs: #nav
				nav.filter-nav: ul.filter-nav__list
					for filter in globals.forum.filters
						li(class=current.filter && filter.value == current.filter.value ? 'is-active' : null)
							a(href='/' + filter.value + (current.tag ? ('/' + current.tag.key) : '') + '#nav')
								span(class=filter.icon).visible-xs.entypo
								span.hidden-xs= filter.label
				h2.heading-bordered.visible-xs #{current.filter.label} Topics
				
				if topics.total
					//- topic list
					ol(itemscope itemtype='http://schema.org/ItemList').topics
						for topic in topics.results
							+topic-item(topic)
					
					//- topic pagination
					+pagination(topics).pagination--below
				
				else
					.no-results
						.no-results__message Sorry, we couldn't find any topics matching your criteria.