extends ../../layouts/default

include ../../mixins/topic-item

block content
	.container-md
		.text-center
			if profile.photo.exists
				img(src=profile._.photo.thumbnail(240,240), alt=profile.name.full, width=240, height=240).img-avatar
			h1= profile.name.full
			ul.list-inline.text-muted
				li= plural(topics.length, '* Question', '* Questions')
				li &middot;
				li= plural(replies.length, '* Answer', '* Answers')
		hr
		
		//- topics
		if topics.length
			ol.topics
				for topic in topics
					+topic-item(topic)
		//- if replies.length
			ol.replies
				for reply in replies
					li= reply.name