extends ../../layouts/default

include ../../mixins/topic-item

block content
	.container-md
		+flash-messages(messages)
		.text-center(itemscope itemtype='http://schema.org/Person')
			if profile.photo.exists
				img(src=profile._.photo.fill(360,360), alt=profile.name.full, width=180, height=180, itemprop='image').img-avatar
			h1(itemprop='name')= profile.name.full
			ul.list-inline.text-muted.mv-1
				li= plural(topics.length, '* Topic', '* Topics')
				li &middot;
				li= plural(replies.length, '* Reply', '* Replies')
			if profile.bio.md
				.mt-1(itemprop='description')!=profile.bio.html
			if profile.twitterUsername || profile.githubUsername || profile.website
				ul.list-inline.text-muted
					if profile.githubUsername
						li: a(href='http://github.com/' + profile.githubUsername, target='_blank', title="@#{profile.githubUsername} on GitHub")
							span.entypo-social.entypo-social-github
							span.sr-only @#{profile.githubUsername}
					if profile.twitterUsername
						li: a(href='http://twitter.com/' + profile.twitterUsername, target='_blank', title="@#{profile.twitterUsername} on Twitter")
							span.entypo-social.entypo-social-twitter
							span.sr-only @#{profile.twitterUsername}
					if profile.website
						li: a(href='http://' + profile.website.replace('http://', ''), target='_blank', itemprop='url')
							if !profile.githubUsername && !profile.twitterUsername
								= profile.website.replace('http://', '')
							else
								span(title=profile.website.replace('http://', '')).entypo.entypo-globe
								span.sr-only= profile.website
		hr.mv-2
		
		//- topics
		if topics.length
			ol(itemscope itemtype='http://schema.org/ItemList').topics.profile-topics
				for topic in topics
					+topic-item(topic)
		//- if replies.length
			ol.replies
				for reply in replies
					li= reply.name