extends ../../layouts/default

include ../../mixins/commenting

block content
	.container(class=performFunction ? performFunction : null)
		.row
			.col-sm-9
				if current.user
					a(href=watchedByUser ? '?unwatch' : '?watch', title=watchedByUser ? 'Stop email notifications' : 'Get email notifications', rel='tooltip', data-placement='left').btn.btn-sm.btn-default.pull-right
						span.entypo.entypo-eye
						=watchedByUser ? ' Unwatch' : ' Watch'
				h4: a(href='/').text-muted &larr; Back to all topics
				hr
				article(itemscope itemtype="http://schema.org/Article").topic-details
					header.topic-details__header
						+flash-messages(messages)
						h1(itemprop='name').heading=topic.name
						if topic.tags
							for tag in topic.tags
								a(href='/newest/' + tag.key).tag
									span(class=tag.key).tag-indicator
									span.tag-label= tag.name
						if topic.author || topic.createdAt
							span.subheading
								if topic.createdAt
									span  started on  
									= topic._.createdAt.format('dddd, D MMM YYYY')
								if topic.author
									span  by 
									a(href=topic.author.url, itemprop='author')= topic.author.name.full
								if replies.length
									|  &middot; 
									a(href='#comments', data-scrollduratio=300).js-scrollto-anchor= plural(replies.length, '* reply', '* replies')
								if current.user && current.user.id == topic.author.id
									|  &middot; 
									a(href='?remove=topic&topic=' + topic.id, title='Delete this topic', rel='tooltip', data-placement='right', data-container='body').topic-delete.js-delete-confirm Delete
					.topic-details__body
						.media
							a(href='/profile/' + topic.author.key).pull-left.media-avatar
								img(src=topic.author.photo.exists ? topic.author._.photo.fill(60,60) : '/images/scaffolding/60x60.png', alt=topic.author.name.full, width=60, height=60).img-avatar
							.media-body.media-body-column
								p.hidden-xs.text-muted
									strong: a(href='/profile/' + topic.author.key)=topic.author.name.full
									if topic.createdAt
										|  &middot; 
										span=topic._.createdAt.format('DD MMM YYYY')
								.details-content-wrapper!=topic.content.html
					
					//-comments
					#comments.topic-details__footer
						if replies.length
							h4.text-muted=plural(replies.length, '* reply', '* replies')
							+comment-thread(replies)
						+comment-form()
			.col-sm-3
				h4.text-muted Meta
				hr
				p This topic has #{plural(topic.replyCount, '* reply', '* replies')}
					if topic.replyCount
						| , the most recent was on #{topic._.lastReplyAt.format('DD MMM YYYY')}
				p #{plural(topic.watchedBy, '* person is', '* people are')} watching this topic
				

				//- more-topics from author
				//- if authorTopics.length
					h4.text-muted More from #{topic.author.name.first} is 
					hr
					ul.list-unstyled
						for authorTopic in authorTopics
							li
								a(href=authorTopic.url)=authorTopic.name
								.text-muted: time(datetime=authorTopic.createdAt)= authorTopic._.createdAt.format('DD MMM YYYY')
				//- h4.text-muted Found a bug?
				//- hr
				//- p If you're experiencing what appears to be a bug or something that doesn't seem to be working correctly, please 
					a(href='https://github.com/JedWatson/keystone/issues') log&nbsp;an&nbsp;issue
					|  in the Github project

block js
	script(src='/js/lib/bootstrap/tooltip.js')
	script(src='/js/lib/bootstrap/popover.js')
	script(src='/js/lib/timeago/timeago.min.js')
	script.
		jQuery(function($) {

			// init popover
			$("[rel='tooltip']").tooltip();
			$("[data-toggle='popover']").popover();
			
			// init timeago
			$(".js-timeago").timeago();
		});
		