extends ../../layouts/default

include ../../mixins/commenting

block content
	.container
		.row
			.col-sm-9
				article.topic-details
					header.topic-details__header
						h1.heading=topic.name
						if topic.category
							a(href='/newest/' + topic.category.key).topic-category
								span(class=topic.category.key).category-indicator
								span= topic.category.name
						if topic.author || topic.publishedOn
							span.subheading
								if topic.publishedOn
									span  started on  
									=moment(topic.publishedOn).format('dddd, D MMM YYYY')
								if topic.author
									span  by 
									a(href=topic.author.url).text-muted=topic.author.name.full
								if replies.length
									|  &middot; 
									a(href='#answers')= plural(replies.length, '* answer', '* answers')
					.topic-details__body
						.media
							a(href='/profile/' + topic.author.key).pull-left
								img(src=topic.author.photo.exists ? topic.author._.photo.thumbnail(60,60) : 'http://placehold.it/60x60', alt=topic.author.name.full, width=60, height=60).img-avatar
							.media-body.media-body-column
								p.hidden-xs.text-muted
									strong: a(href='/profile/' + topic.author.key)=topic.author.name.full
									|  &middot; 
									span #{moment(topic.publishedOn).fromNow()}
								.details-content-wrapper!=topic.content.full.html
					
					//-comments
					#answers.topic-details__footer
						if replies.length
							h4.text-muted=plural(replies.length, '* answer', '* answers')
							+comment-thread(replies)
						+comment-form()
			.col-sm-3
				h4.text-muted Tips for answering
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit pretium est, in lobortis enim lobortis nec. Cras consequat lacus a mauris semper eleifend.

				hr
				h4.text-muted Found a bug?
				p If you're experiencing what appears to be a bug or something that doesn't seem to be working correctly, please 
					a(href='https://github.com/JedWatson/keystone/issues') log&nbsp;an&nbsp;issue
					|  in the Github project